<div class="crypto-list">
  <ul>
      <li *ngFor="let asset of assets">
        <a class="crypto-item"  [routerLink]= "[ { outlets: {'currency-details-outlet': ['currdetails', asset.symbol ]} }]">
              <img alt="crypto currency image" src="{{asset.icon}}" class="logo component" />
              <div class="crypto-name truncate component" title="{{asset.name}}">{{asset.name}}</div>
              <div class="crypto-symbol component">{{asset.symbol}}</div>
        </a>
      </li>
      <router-outlet name="currency-details-outlet"></router-outlet>
  </ul>
</div>
