.header {
    position:fixed;
    width:100%;
    top:0;
    height: 100px;
    margin: 0px auto;
}
.app-title {
    text-align: center;
    font-size: 1.7rem;
    color: darkslateblue;
}

.app-title > h1 {
    z-index: 1001;
}

.main-container, .content-box {
    position: relative;
    top:10%;
    margin-top:50px;
    display: flex;
    padding: 10px;
    overflow-x:hidden;
    overflow-y:auto;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    width:90%;
    box-sizing: border-box;
    margin:0 auto;
}

.content-box {
    position: static;
    width:90%;
    align-items: center;
}

.crypto-list-container {
    width:90%;
}
